<h1>Professors</h1>

<% @professors.each do |professor| %>
    <h3>Name: <%= professor.name %></h3>
    <h4>Age: <%= professor.age %></h4>
    <h4>Specialty: <%= professor.specialty %></h4>
<% end %>
